*{
	text-align: center;
}
h1{
	font-family: Gill Sans, sans-serif;
}
p{
	font-family: Gill Sans, sans-serif;
    color: #000000;
    text-decoration: none;
    display: block;
    border: 1px solid #001e6d;
    padding: 4px;
    margin: 3px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.done {
  color: red;
  text-decoration: line-through;
}
.undone {
  color: #61DAFB;
}