*{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
}
h1{
	font-family: Gill Sans, sans-serif;
}
.glyphicon-ok{
  float: left;
}
.glyphicon-remove{
  float: right;
}